
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(2, 1fr);    /* 2 filas */
    gap: 20px;                             /* Espacio entre las celdas */
    padding: 20px;
    box-sizing: border-box;
  }

  .item {
    background-color: black;
    color:white;
    padding: 20px;
    /* border: 1px solid #ccc; */
    text-align: center;
  }

  .item:hover{
    cursor:pointer;
  }

  .serieImage{
    width:150px;
  }


  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr; 
    }
  }



  